.title {
  font-size: 3em;
  font-family: monospace;
  font-weight: 500;
  margin-left: -5px;
}

.description {
  font-size: 2.0em;
  font-family: monospace;
  margin-bottom: 20px;
  margin-left: -5px;
}
